<div class="p-4 bg-light" style="min-height:85vh;">

    <div

        id="canvas"

        class="bg-white border rounded shadow-sm p-4"

        style="min-height:700px;">

        <div
            id="mensaje-vacio"
            class="text-center text-secondary mt-5">

            <i class="bi bi-columns-gap display-2"></i>

            <h4 class="mt-3">

                Arrastre componentes aquí

            </h4>

            <p>

                El formulario se construirá visualmente.

            </p>

        </div>

    </div>

</div>