<div class="card shadow border-0">

    <div class="card-header bg-danger text-white">

        <h5>

            <i class="fa-solid fa-triangle-exclamation"></i>

            Alertas

        </h5>

    </div>

    <div class="card-body">

        <div class="list-group">

            <div class="list-group-item">

                🔴 Pacientes pendientes de visita

            </div>

            <div class="list-group-item">

                🟡 Profesionales con retraso

            </div>

            <div class="list-group-item">

                🔵 Autorizaciones próximas a vencer

            </div>

            <div class="list-group-item">

                🟠 Medicamentos pendientes

            </div>

        </div>

    </div>

</div>