<div class="row">

    <div class="col-lg-2">

        <div class="card shadow-sm">

            <div class="card-body text-center">

                <h2>{{ total_pacientes }}</h2>

                <small>Pacientes</small>

            </div>

        </div>

    </div>

    <div class="col-lg-2">

        <div class="card shadow-sm">

            <div class="card-body text-center">

                <h2>{{ total_profesionales }}</h2>

                <small>Profesionales</small>

            </div>

        </div>

    </div>

    <div class="col-lg-2">

        <div class="card shadow-sm">

            <div class="card-body text-center">

                <h2>{{ visitas_programadas }}</h2>

                <small>Programadas</small>

            </div>

        </div>

    </div>

    <div class="col-lg-2">

        <div class="card shadow-sm">

            <div class="card-body text-center">

                <h2>{{ visitas_en_curso }}</h2>

                <small>En Curso</small>

            </div>

        </div>

    </div>

    <div class="col-lg-2">

        <div class="card shadow-sm">

            <div class="card-body text-center">

                <h2>{{ visitas_completadas }}</h2>

                <small>Completadas</small>

            </div>

        </div>

    </div>

    <div class="col-lg-2">

        <div class="card shadow-sm">

            <div class="card-body text-center">

                <h2>{{ visitas_canceladas }}</h2>

                <small>Canceladas</small>

            </div>

        </div>

    </div>

</div>