<aside id="sidebar" class="sidebar">

    <div class="sidebar-header">

        <img src="/static/img/logo.png"
             class="logo">

        <h4>

            HomeCare IPS

        </h4>

    </div>

    <ul class="menu">

        <li class="menu-title">

            PRINCIPAL

        </li>

        <li>

            <a href="/">

                <i class="fa-solid fa-chart-line"></i>

                Dashboard

            </a>

        </li>

        <li>

            <a href="/pacientes">

                <i class="fa-solid fa-user-group"></i>

                Pacientes

            </a>

        </li>

        <li>

            <a href="/programacion">

                <i class="fa-solid fa-calendar-days"></i>

                Programación

            </a>

        </li>

        <li>

            <a href="/profesionales">

                <i class="fa-solid fa-user-doctor"></i>

                Profesionales

            </a>

        </li>

        <li>

            <a href="/inventario">

                <i class="fa-solid fa-boxes-stacked"></i>

                Inventario

            </a>

        </li>

        <li>

            <a href="/reportes">

                <i class="fa-solid fa-chart-column"></i>

                Reportes

            </a>

        </li>

        <li class="menu-title">

            HISTORIA CLÍNICA

        </li>

        <li>

            <a href="/diagnosticos">

                <i class="fa-solid fa-stethoscope"></i>

                Diagnósticos

            </a>

        </li>

        <li>

            <a href="/medicamentos">

                <i class="fa-solid fa-pills"></i>

                Medicamentos

            </a>

        </li>

        <li>

            <a href="/tratamientos">

                <i class="fa-solid fa-notes-medical"></i>

                Tratamientos

            </a>

        </li>

        <li>

            <a href="/procedimientos">

                <i class="fa-solid fa-syringe"></i>

                Procedimientos

            </a>

        </li>

        <li>

            <a href="/evoluciones">

                <i class="fa-solid fa-file-medical"></i>

                Evoluciones

            </a>

        </li>

        <li class="menu-title">

            ADMINISTRACIÓN

        </li>

        <li>

            <a href="/usuarios">

                <i class="fa-solid fa-users-gear"></i>

                Usuarios

            </a>

        </li>

        <li>

            <a href="/configuracion">

                <i class="fa-solid fa-gear"></i>

                Configuración

            </a>

        </li>

        <li>

            <a href="/logout">

                <i class="fa-solid fa-right-from-bracket"></i>

                Cerrar Sesión

            </a>

        </li>

        <li>

             <a href="/despacho">

                 <i class="fa-solid fa-truck-medical"></i>

             <span>

                 Centro de Despacho

             </span>

         </a>

       </li>

    </ul>

</aside>