<div class="container-fluid">

    <!-- ========================================= -->
    <!-- IDENTIFICACIÓN -->
    <!-- ========================================= -->

    {% include "pacientes/tabs/informacion/identificacion.html" %}

    <!-- ========================================= -->
    <!-- CONTACTO -->
    <!-- ========================================= -->

    {% include "pacientes/tabs/informacion/contacto.html" %}

    <!-- ========================================= -->
    <!-- ASEGURAMIENTO -->
    <!-- ========================================= -->

    {% include "pacientes/tabs/informacion/aseguramiento.html" %}

    <!-- ========================================= -->
    <!-- UBICACIÓN -->
    <!-- ========================================= -->

    {% include "pacientes/tabs/informacion/ubicacion.html" %}

    <!-- ========================================= -->
    <!-- DATOS CLÍNICOS -->
    <!-- ========================================= -->

    {% include "pacientes/tabs/informacion/datos_clinicos.html" %}

    <!-- ========================================= -->
    <!-- INFORMACIÓN ADMINISTRATIVA -->
    <!-- ========================================= -->

    {% include "pacientes/tabs/informacion/administrativo.html" %}

    <!-- ========================================= -->
    <!-- OBSERVACIONES -->
    <!-- ========================================= -->

    {% include "pacientes/tabs/informacion/observaciones.html" %}

</div>